[submodule "taw2020-frontend"]
	path = taw2020-frontend
	url = https://github.com/AleNarder/taw2020-frontend.git
[submodule "taw2020-backend"]
	path = taw2020-backend
	url = https://github.com/AleNarder/taw2020-backend.git
